@media (max-width: 1280px){
  .navbar, .main, .footer-info{
    padding-left: 2%;
    padding-right: 2%;
    flex-direction: column;
  }
  .logo, .navbar-nav, .navbar-contacts{
    margin-top: 30px;
  }
  .navbar-contacts{
    text-align: center;
  }
  .main-image{
    margin: 0 auto 54px;
  }
  .counter-group{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .logo-footer{
    margin-right: 0;
  }
  .footer-contacts{
    text-align: center;
    margin-right: 0;
  }
  .footer-icons{
    margin-right: -15px;
  }
  .footer-menu{
    padding-left: 0;
  }
  .footer-link{
    margin: auto 10px;
  }
  .footer-contacts{
    padding: 20px;
  }
  .footer-icons{
    padding-top: 5px;
    padding-bottom: 10px;
  }
}

@media (max-width: 768px){
  .navbar-nav {
    display: block;
    position: absolute;
    top: 220px;
    left: 0;
    background: #272321e7;
    box-shadow: #ccc;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
    left: -100%;
    transition: all 0.4s ease;
  }
  .navbar-nav.open-burger{
    left:0;
  }
  .navbar-menu{
    display: block;
  }
  .navbar-menu li {
    margin: 40px 0px;
    font-size: 14px;
  }
  .navbar-menu li br{
    display: none;
  }

  .navbar-burger{
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  /* .home-image{
    width: 100%;
    height: 100%;
  } */
  .main{
    background-image: url('../img/home.png');
  }
  .main-image{
    display: none;
  }
  .main-info{
    border-radius: 6px;
    background: #59595987;
    padding: 16px 36px;
  }
  .main-title{
    color: #fff;
  }
  .counter{
    color: #fff;
  }
  .footer-menu{
    flex-direction: column;
    align-items: center;
  }
  .footer-item{
    margin-bottom: 10px;
  }
}