@media (max-width: 1280px){
  .navbar, .main, .footer-info{
    padding-left: 2%;
    padding-right: 2%;
    flex-direction: column;
  }
  .logo, .navbar-nav{
    margin-bottom: 30px;
  }
  .navbar-contacts{
    text-align: center;
  }
  .main-image{
    margin: 0 auto 54px;
  }
  .counter-group{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .logo-footer{
    margin-right: 0;
  }
  .footer-contacts{
    text-align: center;
    margin-right: 0;
  }
  .footer-icons{
    margin-right: -15px;
  }
  .footer-menu{
    padding-left: 0;
  }
  .footer-link{
    margin: auto 10px;
  }
  .footer-contacts{
    padding: 20px;
  }
  .footer-icons{
    padding-top: 5px;
    padding-bottom: 10px;
  }
}

@media (max-width: 768px){
  .navbar-nav{
    display: none;
  }
  .navbar-burger{
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .home-image{
    width: 100%;
    height: 100%;
  }
  .footer-menu{
    flex-direction: column;
    align-items: center;
  }
  .footer-item{
    margin-bottom: 10px;
  }
}
