@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}
.navbar{
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu{
    margin: 0;  /* отключаем внешние отступы */
    padding: 0; /*отключаем внутренние отступы */
    list-style: none; /* отключаем точки у списка */
    display: flex;
    text-align: center;
}
.navbar-item{
    margin-left: 40px;
    margin-right: 40px;
}
.navbar-link{
    text-decoration: none;
    color: #fff;
}
.navbar-burger{
    position: relative;
    width: 40px;
    height: 35px;
    display: none;
}
.navbar-burger span, .navbar-burger:after, .navbar-burger:before{
    height: 3px;
    width: 100%;
    position: absolute;
    background-color:#fff;
    padding: 0 auto;
}
.navbar-burger span{
    top:16px;
}
.navbar-burger:after, .navbar-burger:before{
    content: "";
}
.navbar-burger:after{
    bottom: 5px;
}
.navbar-burger:before{
    top: 5px;
}
.navbar-burger.open-burger span {
    opacity:0; 
    transition: 0.5s; 
}
.navbar-burger.open-burger:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}
.navbar-burger.open-burger:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
}
.navbar-contacts{
    text-align: right;
}
.navbar-text{
    display: block;
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}
.navbar-phone{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}
.main{
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;
    padding-bottom: 95px;
    display: flex;
}
.home-image path{
    opacity: 0;
    cursor: pointer;
}
.home-image path:hover{
    opacity: 1;
}
path.current-floor{
    opacity: 1;
}
.main-info{
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main-title{
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    color: #635854;
}
.counter-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter-button{
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.counter-arrow-down{
    transform: rotateX(180deg);
}
.counter{
    font-family: "Bebas Neue", sans-serif;
    color: #635854;
    font-size: 124px;
    font-weight: 500;
}
.button-primary{
    background: #3596F5;
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 16px 36px;
    cursor: pointer;
}
.footer{
    border-top: 4px solid #3596F5;
    padding-top: 50px;
    padding-bottom: 56px;
    background-color: #D7D7D7;
}
.footer-info{
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo-footer{
    margin-right: 37px;
}
.footer-contacts{
    text-align: left;
    margin-right: 59px;
}
.footer-text{
    display: block;
    color:#635854;
;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}
.footer-phone{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #635854;
}
.footer-icons{
    display: flex;
}
.footer-icons-item{
    margin-right: 15px;
    cursor: pointer;
}
.footer-nav{
    flex-grow: 1;    
    text-align: right;
    display: flex;
    justify-content: flex-end;
    
}
.footer-menu{
    display: flex;
}
.footer-item{
    list-style: none;
}
.footer-link{
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-left: 20px;
    color: #635854;
}